:root {
  --deep-brown: #321911;
  --light-brown: #d3b8ae;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  font-family: 'Dongle', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: var(--deep-brown);
  color: white;
}

.nav-wrapper {
  position: static;
  background-color: var(--deep-brown);
  box-shadow: 0 0 0 0;
  z-index: 0;
}

.nav-wrapper > ul > li > a {
  font-size: 1.8rem;
}


.home-grid-content {
  display: grid;
  grid-template-rows: 1fr 40px;
  height: 400px;
  align-items: center;
  width: 80%;
  grid-gap: 1.25em;
}

.home-content-hi {
  font-size: 3rem;
  font-weight: bold;
}

.home-container {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.home-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;
  grid-gap: 1rem;
  width: 850px;
  align-items: center;
  justify-content: center;
}

.home-content-desc {
  color: var(--light-brown);
}

.home-desc {
  margin-top: 2rem;
}

.home-img {
  width: 300px;
  border-radius: 20px;
}

.goal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 750px;
  grid-gap: 3rem;
  justify-items: center;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.goal-img {
  width: 370px;
  border-radius: 20px;
  height: 300px;
}

.goal-content {
  font-size: 1.7rem;
  grid-row: 1;
  grid-column: 2;
  color: var(--light-brown);
}

.goal-info {
  grid-row: 1;
  grid-column: 2;
}

.goal-emoji {
  margin-top: 30px;
  color: var(--light-brown);
}

.goal-info-title,
.goal-info-name {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}


.mouse {
  color: var(--light-brown);
}

.mouse-container {
  display: flex;
  align-items: center;
  justify-items: center;
  transition: 0.4s;
  width: 10rem;
  gap: 0.2rem;
}

.mouse-container:hover {
  margin-top: 30px;
}

.arrow, .mouse-text {
  color: var(--light-brown);
}

#goal {
  padding-top: 13rem;
}

.menu_title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 3.8rem;
}

.menu_sub_title {
  font-size: 1.8rem;
  text-align: center;
  color: var(--light-brown);
}

#skills {
  padding-top: 100px;
}

.skill-flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.skill-flex-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.skill-box {
  display: flex;
  justify-content: space-around;
}
.test1 {
  background-color: white;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.test2 {
  background-color: blue;
  width: 250px;
  height: 100px;

}
.test3 {
  background-color: green;
  width: 250px;
  height: 100px;
}
.test4 {
  background-color: yellow;
  width: 250px;
  height: 100px;
}
/*.nav_header {*/
/*  display: grid;*/
/*  grid-template-columns: 120px 1fr 30px;*/
/*  height: 70px;*/
/*  align-items: center;*/
/*}*/

/*.nav_name {*/
/*  font-size: 30px;*/
/*}*/

/*.header_menu > a {*/
/*  font-size: 30px;*/
/*  justify-content: end;*/
/*}*/

/*.nav_list {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr;*/
/*  grid-template-rows: 1fr;*/
/*}*/